.get-started {
  margin-top: 150px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  h1 {
    font-weight: 700;
    font-size: 85px;
    line-height: 100px;
    color: $color-white-50;
  }

  p {
    font-weight: 400;
    font-size: 35px;
    line-height: 64px;
    color: $color-white-50;
  }

  a {
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    padding: 30px 100px;
    border: 1px solid $color-aqua-60;
    border-radius: 12px;
    background: $color-aqua-60;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: $color-white-50;
    transition: .6s all;

    &::before {
      position: absolute;
      content: '';
      background: $color-white-50;
      width: 8px;
      top: 0;
      bottom: 0;
      left: -32px;
      transform: rotate(-16deg);
      filter: blur(6px);
    }

    &:hover::before {
      left: calc(100% + 32px);
      transition: .6s all;
    }
  }

  &-creators {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: $color-white-50;

    span {
      font-weight: 400;
      line-height: 38px;
      color: $color-white-600;
    }
  }
}

@media screen and (max-width: 920px) {
  .get-started {
    margin-top: 100px;

    h1 {
      font-size: 60px;
    }

    p {
      font-size: 30px;
    }

    
    a{
      padding: 20px 80px;
    }

    &-creators {
      P {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .get-started {
    margin-top: 50px;

    &-logo {
      width: 100px;
    }

    h1 {
      font-size: 40px;
    }

    p {
      font-size: 25px;
      line-height: 40px;
    }
    
    a{
      padding: 20px 60px;
      font-size: 25px;
    }

    &-creators {
      p {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .get-started {

    h1 {
      font-size: 30px;
    }

    p{
      font-size: 20px;
    }

    a{
      padding: 16px 40px;
      font-size: 20px;
    }

    &-creators {
      P {
        font-size: 12px;
      }
    }
  }
}