.step-send {
  margin-top: 150px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 180px;

  &-title {
    max-width: 930px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    span {
      font-weight: 600;
      font-size: 25px;
      line-height: 38px;
      color: $color-aqua-70;
    }

    h1 {
      font-weight: 600;
      font-size: 60px;
      line-height: 112px;
      color: $color-white-50;
    }

    p {
      width: 100%;
      font-weight: 400;
      font-size: 26px;
      line-height: 45px;
      color: $color-white-600;
    }

    a {
      margin-top: 34px;
      padding: 24px 38px;
      border: 1px solid $color-white-600;
      border-radius: 12px;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: $color-white-600;
      transition: .6s all;

      &:hover {
        border: 1px solid $color-aqua-60;
        background: $color-aqua-60;
        color: $color-white-50;
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__info {
      max-width: 600px;
      display: flex;
      flex-direction: column;

      span {
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        color: $color-white-50;
      }

      h1 {
        max-width: 600px;
        margin-top: 80px;
        font-weight: 600;
        font-size: 60px;
        color: $color-white-50;

        span {
          font-weight: 600;
          font-size: 60px;
          color: $color-aqua-70;
        }
      }

      &-desc {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__item {
          display: flex;
          align-items: center;
          gap: 12px;

          span {
            font-weight: 500;
            font-size: 14px;
            line-height: 27px;
            color: $color-white-50;
          }

          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 34px;
            color: $color-white-50;
          }
        }
      }

      &-buttons {
        margin-top: 66px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;

        &__btn:nth-child(1) {
          padding: 17px 21px;
          border: 1px solid $color-aqua-60;
          border-radius: 12px;
          background: $color-aqua-60;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: $color-white-50;
          transition: .6s all;

          &:hover{
            background: none;
          }
        }

        &__btn:nth-child(2) {
          padding: 17px 36px;
          border: 1px solid $color-white-600;
          border-radius: 12px;
          background: $color-black-850;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: $color-white-600;
          transition: .6s all;

          &:hover{
            background: $color-aqua-60;
            border: 1px solid $color-aqua-60;
            color: $color-white-50;
          }
        }
      }
    }

    &__image {
      max-width: 680px;
      position: relative;
      z-index: 999;

      &::before {
        position: absolute;
        content: '';
        right: 170px;
        bottom: -10px;
        width: 209px;
        height: 176px;
        background: $color-white-500;
      }

      img {
        width: 100%;
        filter: drop-shadow(0px 30px 50px rgba(0, 0, 0, 0.4));
      }
    }
  }
}

.step-send-content__info-desc__item:nth-child(1) {
  span {
    padding: 5px 14px 1px 14px;
    border-radius: 50%;
    background: $color-black-800;
  }
}

.step-send-content__info-desc__item:nth-child(2) {
  span {
    padding: 5px 13px 1px 12px;
    border-radius: 50%;
    background: $color-black-800;
  }
}

@media screen and (max-width: 920px) {
  .step-send{
    margin-top: 75px;
    gap: 100px;

    &-title{
      h1{
        font-size: 50px;
      }
    }

    &-content{
      gap: 50px;
    }
  }

  .step-send-content__info-buttons{
    justify-content: center;
  }

  .step-send-content__image{
    position: static;

    &::before{
      display: none;
    }
  }
}

@media screen and (max-width: 670px) {
  .step-send{
    margin-top: 75px;
    gap: 50px;

    &-title{
      h1{
        font-size: 30px;
      }
    }
    
    &-content{
      
      &__info{
        h1{
          margin-top: 40px;
          font-size: 55px;

          span{
            font-size: 55px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .step-send{
    margin-top: 75px;

    &-title{
      
      span{
        font-size: 20px;
      }

      h1{
        font-size: 20px;
        line-height: 30px;
      }

      p{
        font-size: 18px;
        line-height: 35px;
      }
      a{
        padding: 20px 20px;
        font-size: 16px;
      }
    }

    &-content{
      
      &__info{
        span{
          font-size: 20px;
        }

        h1{
          margin-top: 20px;
          font-size: 45px;

          span{
            font-size: 45px;
          }
        }
      }
    }
  }

  .step-send-content__info-desc__item{
    p{
      font-size: 14px;
    }
  }
}