$color-white-50: #FFFFFF;
$color-white-300: #B4B1B1;
$color-white-450:  #919191;
$color-white-500:  #8B8B8B;
$color-white-550:  #828282;
$color-white-570: #7F7F7F;
$color-white-600: #707070;

$color-aqua-40: #306EF7;
$color-aqua-50: #3C82F4;
$color-aqua-60: #326CF9;
$color-aqua-70: #3D82F2;
$color-aqua-80: #4681E7;
$color-aqua-90: #4A7DE3;

$color-blue-700: #102142;

$color-green-200: #0FC65C;

$color-black-800: #2D2D2D;
$color-black-820: #131313;
$color-black-850: #0E0E0E;
$color-black-900: #000000;