.footer {
  margin-top: 100px;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  color: white;

  &-logo {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      font-weight: 800;
      font-size: 42px;
      line-height: 63px;
      color: $color-white-50;
    }
  }

  &-logo__tagline {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
      font-weight: 400;
      font-size: 24px;
      line-height: 40px;
      color: $color-white-600;
    }
  }

  &-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 40px;

    a {
      font-weight: 500;
      font-size: 25px;
      line-height: 42px;
      color: $color-white-600;
      transition: .6s all;

      &:hover{
        color: $color-aqua-50;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .footer{
    margin-top: 50px;
    flex-direction: column;

    &-nav{
      display: none;
    }
  }
}